extends layout

block content
	script(type='text/javascript').
		"use strict";

		(function( $ ) {
		    $(function() {
		        $( "#q" ).bootcomplete({
		          url: "/search",
		          method: "post"
		        });
				    });
				})( jQuery );

	.main.container.clearfix
		.row
			h1.display-4 Dashboard
			.row
				div.bienvenida
					if user.typeOfUser == 'SuperAdmin'
						h1 Bienvenido SuperAdmin #{user.name}
					if user.typeOfUser == 'Admin'
						h1 Bienvenido Admin #{user.name}
					if user.typeOfUser == 'Collaborator'
						h1 Bienvenido Colaborador #{user.name}
					if user.typeOfUser == 'Client'
						h1 Bienvenido #{user.name}
				if user.typeOfUser == 'SuperAdmin' || user.typeOfUser == 'Admin' || user.typeOfUser == 'Collaborator'		
					.buscador
						h3(style="text-align: center") Buscador de usuarios
						ul#users
							if !users

							else
								each us in users
									li
										i.fa.fa-user
										span #{us.name} #{us.lastname}
							form#search.col-md-12(method="post", action="")
								input#q.col-md-10.form-control(type="text", placeholder="Buscar..." )
								button.btn.btn-primary.col-md-2(type="submit") Ver usuario
			.mybloques
				.list
				if user.typeOfUser == 'SuperAdmin'
					h3 Mis Admins (#{adminUser.length})
					if adminUser.length === 0
						p Aún no tienes Admins
					else
						.row
							table.table.table-striped
								thead.thead-light
									tr
										th(scope="col") Nombre
										th(scope="col") Usuario
										th(scope="col") Fecha de creción
								tbody
									each au in adminUser
										tr
											td(scope="row") 
												a(href='/usuario/' + au.id) #{au.name} #{au.lastname}
											td(scope="row") 
												a(href='/usuario/' + au.id) #{au.username}
											td(scope="row") 	
												a(href='/usuario/' + au.id) #{au.dateCreated}
			.mybloques
				.list
				if user.typeOfUser == 'SuperAdmin' || user.typeOfUser == 'Admin' 
					h3 Mis Colaboradores (#{collaboratorUser.length})
					if collaboratorUser.length === 0
						p Aún no tienes Colaboradores
					else
						.row
							table.table.table-striped
								thead.thead-light
									tr
										th(scope="col") Nombre
										th(scope="col") Fecha de creción
								tbody
									each cu in collaboratorUser
										tr
											td(scope="row") 
												a(href='/usuario/' + cu.id) #{cu.name}
											td(scope="row") 	
												a(href='/usuario/' + cu.id) #{cu.dateCreated}	
			.mybloques
				.list
				if user.typeOfUser == 'SuperAdmin' || user.typeOfUser == 'Admin' || user.typeOfUser == 'Collaborator'
					h3 Mis Clientes (#{clientUser.length})
					if clientUser.length === 0
						p Aún no tienes Clientes
					else
						.row
							table.table.table-striped
								thead.thead-light
									tr
										th(scope="col") Nombre
										th(scope="col") Fecha de creción
								tbody
									each clu in clientUser
										tr
											td(scope="row") 
												a(href='/usuario/' + clu.id) #{clu.name}
											td(scope="row") 	
												a(href='/usuario/' + clu.id) #{clu.dateCreated}			
			.mybloques
				.list
				if user.typeOfUser == 'SuperAdmin' || user.typeOfUser == 'Admin'
					h3 Mis Plantillas (#{template.length})
					if template.length === 0
						p Aún no tienes Plantillas
					else
						.row
							table.table.table-striped
								thead.thead-light
									tr
										th(scope="col") Nombre
										th(scope="col") Fecha de creción
								tbody
									each tp in template
										tr
											td(scope="row") 
												a(href="/plantilla/" + tp.id) #{tp.name}
											td(scope="row") 	
												a(href="/plantilla/" + tp.id) #{tp.dateCreated}	
			.mybloques
				.list
				if user.typeOfUser == 'SuperAdmin' || user.typeOfUser == 'Admin' || user.typeOfUser == 'Collaborator' || user.typeOfUser == 'Client'
					h3 Mis Tablas (#{table.length})
					if table.length === 0
						p Aún no tienes Tablas
					else
						.row
							table.table.table-striped
								thead.thead-light
									tr
										th(scope="col") Nombre
										th(scope="col") Fecha de creción
								tbody
									each tb in table
										tr
											td(scope="row") 
												a(href="/tabla/" + tb.id) #{tb.title}
											td(scope="row") 	
												a(href="/tabla/" + tb.id) #{tb.dateCreated}	
			.mybloques
				.list
				if user.typeOfUser == 'SuperAdmin' || user.typeOfUser == 'Admin' || user.typeOfUser == 'Collaborator' || user.typeOfUser == 'Client'
					h3 Mis Dietas (#{table.length})
					if table.length === 0
						p Aún no tienes Dietas
					else
						.row
						each tb in table
							.col-md-6
								p=tb.title
							.col-md-6
								p=tb.dateCreated