extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Editar Usuario
      
        // register form
        form(method='POST' action='/usuarios/editar')
          div.form-group.col-md-6
            label(for='name') Nombre:
            input#name.form-control(type='text', placeholder='Nombre' name='name' value=user.name)
          div.form-group.col-md-6
            label(for='lastname') Apellido:
            input#lastname.form-control(type='text', placeholder='Apellido' name='lastname' value=user.lastname)
          div.form-group.col-md-6
            label(for='username') Nombre de Usuario:
            input#username.form-control(type='text', placeholder='Usuario' name='username' value=user.username)
          div.form-group.col-md-6
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='nombre@email.com' name='email' value=user.email)
          div.form-group.col-md-6
            label(for='pw') Contraseña:
            input#pw.form-control(type='password' name='password')
          div.form-group.col-md-6
            label(for='pw2') Confirmar Contraseña:
            input#pw2.form-control(type='password' name='confirmPassword')
          if user.typeOfUser == 'Cliente' 
            div.form-group.col-md-6
              label(for='typeOfUser') Tipo de Usuario
              select(name='typeOfUser')#typeOfUser.form-control
                option(value='Cliente' selected=) Cliente
                option(value='Admin') Admin
                option(value='SuperAdmin') SuperAdmin
          if user.typeOfUser == 'Admin'
            div.form-group.col-md-6
              label(for='typeOfUser') Tipo de Usuario
              select(name='typeOfUser')#typeOfUser.form-control
                option(value='Cliente') Cliente
                option(value='Admin' selected=) Admin
                option(value='SuperAdmin') SuperAdmin
          if user.typeOfUser == 'SuperAdmin'
            div.form-group.col-md-6
              label(for='typeOfUser') Tipo de Usuario
              select(name='typeOfUser')#typeOfUser.form-control
                option(value='Cliente') Cliente
                option(value='Admin') Admin
                option(value='SuperAdmin' selected=) SuperAdmin
          div.form-group.col-md-6
            label(for='dateCreated' value=user.dateCreated) Fecha de Alta
            input#dateCreated.form-control(type='date' name='dateCreated')
            input#id(type='hidden' name='id' value=user._id)
          div.row.col-md-12
            button.btn.btn-primary(type='submit') Guardar