extends layout

block content
  .main.container
    .row
      .col-md-12
        h1.display-4.m-b-2 Usuarios
        div.row.col-md-12
          div.row
            div.col-md-4
              div.user-item
                btn.btn.btn-secondary.user-boton-nuevo
                  a(href='/usuarios/crear') +
            each u in user
              div.col-md-4
                div.user-item
                  div.user-texts
                    h1= u.name + ' ' + u.lastname
                    p= u.username
                    p= u.email
                    p= u.typeOfUser
                    p= u.dateCreated
                  div.btn-group(role='group')
                    a.btn.btn-secondary(href='/tabla/nueva/' + u.id + '/')
                      i(class='fas fa-table')
                    a.btn.btn-secondary(href='/usuarios/' + u.id + '/editar/')
                      i(class='fas fa-edit')
                    a.btn.btn-secondary(href='/usuarios/' + u.id + '/eliminar/') 
                      i(class='fas fa-trash-alt')