extends layout

block content
  .main.container
    .row

      if uAdmin.typeOfUser == 'SuperAdmin' || uAdmin.typeOfUser == 'Admin'
        .col-md-12
          h1.display-4.m-b-2 Usuarios
          div.row.col-md-12
            div.row
              btn.btn.btn-secondary
                  a(href='/usuarios/crear') Crear Usuario
              table.table
                  thead.thead-light
                    tr
                      th(scope="col") Nombre
                      th(scope="col") Usuario
                      th(scope="col") Email
                      th(scope="col") Tipo
                      th(scope="col") Fecha de creción
                      th(scope="col") Tabla
                      th(scope="col") Editar
                      th(scope="col") Eliminar
                  tbody
                    each u in user
                      tr
                        td(scope="row") 
                          a(href='/usuario/' + u.id) #{u.name} #{u.lastname}
                        td(scope="row") 
                          a(href='/usuario/' + u.id) #{u.username}
                        td(scope="row")   
                          a(href='/usuario/' + u.id) #{u.email}
                        td(scope="row")   
                          a(href='/usuario/' + u.id) #{u.typeOfUser}
                        td(scope="row")   
                          a(href='/usuario/' + u.id) #{u.dateCreated}
                        td(scope="row")
                          a.btn.btn-secondary(href='/tabla/nueva/' + u.id + '/') Crear Tabla
                        td(scope="row")
                          a.btn.btn-secondary(href='/usuarios/' + u.id + '/editar/') Editar
                        td(scope="row")
                          a.btn.btn-secondary(href='/usuarios/' + u.id + '/eliminar/') Eliminar
      else
        .col-md-12
          h1 No tiene permisos para ver esta página.
