extends layout

block content
  .main.container
    .row
      .col-md-12
        h1.display-4.m-b-2 Usuario: #{user.name} #{user.lastname}
        .mybloques
          div.form-group
            p Usuario: #{user.username}
          div.form-group
            p Email: #{user.email}
          div.form-grou
            p Tipo de Usuario: #{user.typeOfUser}
          div.form-group
            p Creado: #{user.dateCreated}
        .mybloques
            div.form-group
              h3 Tablas del usuario
            div.form-group
              a.btn.btn-secondary(href='/tabla/nueva/' + user.id + '/') Nueva Tabla
        .mybloques
          each t in table
                ul
                  li
                    a.form-group.col-md-10(href="/tabla/" + t.id + "/") Tabla: #{t.title} - #{t.dateCreated}
                    a.col-md-2.btn.btn-danger(href='/tabla/eliminar/' + t.id) Eliminar
        .mybloques
            div.form-group
              h3 Dietas del Usuario
            div.form-group
              a.btn.btn-secondary(href='/tabla/nueva/' + user.id + '/') Nueva Tabla
        .mybloques
          each t in table
                ul
                  li
                    a.form-group.col-md-10(href="/tabla/" + t.id + "/") Tabla: #{t.title} - #{t.dateCreated}
                    a.col-md-2.btn.btn-danger(href='/tabla/eliminar/' + t.id) Eliminar
              
